@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rancho&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: rgb(37, 36, 36);
}
#form{
    justify-content: center;
    align-items: center;
    height: 85vh;
}
